@charset "utf-8";
* { margin:0; padding:0; font-size:12px}
a{ text-decoration:none}
body{ text-align:center; background-color: #f0f0f0}
ul,li{ list-style:none}


ul.sis-li{ margin:0 auto; width: 1035px; overflow:hidden}
ul.sis-li li{ float:left; padding-top:11px; width: 195px; overflow:hidden; padding-right: 10px;}
ul.sis-li li{  -webkit-transition: padding .5s ease 0s;
  -o-transition: padding .5s ease 0s;
  -moz-transition: padding .5s ease 0s;
  transition: padding .5s ease 0s;
  }
ul.sis-li li .v1{/* display: block; */float:left;width: 195px; position:relative; height: 480px; color:#7F7F7F}
ul.sis-li li .v2{ padding-top:6px; width:100%; float:left; overflow:hidden}
ul.sis-li li .v1 img{ width: 195px; position:absolute; left:0; top:0; z-index:5; height: 480px;}
ul.sis-li li .v1 .div{ width: 171px; position:absolute; z-index: 10; background: #614848; FILTER:alpha(opacity=60); opacity:0.7; -moz-opacity:0.7; /* left:10px; */ bottom: 0.00001px; height: 450px; float:left; text-align:left; padding: 0px 12px 0 12px;}
ul.sis-li li .v1 .div h3{ line-height:20px; padding-bottom:10px; display:block;color:#FFF; overflow:hidden}
ul.sis-li li .v1 .div .txt{ line-height:18px; height: 250px; display:block;color:#FFF; overflow:hidden}
ul.sis-li li .v2 h4{ font-size:14px; text-align:left; width:100%; display:block; line-height:20px; height:20px; overflow:hidden}
ul.sis-li li .v2 .h16{ height:16px; width:100%; display:block;}
ul.sis-li li .v2 .h16 b{font-family:Verdana, Geneva, sans-serif; font-size:14px; font-weight:bold}
ul.sis-li li:hover .v1{ color:#7F7F7F; text-decoration:none}
ul.sis-li li:hover .v2 .h16 b,ul.sis-li li:hover .v2 h4 a{ color:#E73527; text-decoration:none}ul.sis-li li:hover .v2 h4 a:hover{ text-decoration:underline}


img { border:none; }
.zzsc { width:558px; height:392px; margin:0 auto; position:relative; }
.text { width:558px; height:auto; background:#000; FILTER:alpha(opacity=60); opacity:0.7; -moz-opacity:0.7; position:absolute; left:0; bottom:0; }
.imgtext { width:538px; height:auto; float:left; padding:20px 10px; color:#FFF; font-size:14px; line-height:200%; }

/*以下代码与案例无关*/
#n{margin:10px auto; width:920px; border:1px solid #CCC;font-size:12px; line-height:30px;}
#n a{ padding:0 4px; color:#333}
.q a{ font-size:16px}