.main {
    width: 1035px;
}
.top {
    height: 135px;
    padding: 0 20px 0 20px;
}
.footer {
    width: 1035px;
    height: 40px;
}
.Whole {
    width: 1035px;
    margin-left: 174.5px;
    margin-right: 174.5px;
    margin-bottom: 20px;
    margin-top: 0px;
    background-color: #fff;
}
h1 {
    font-family: 'Microsoft Yahei';
    font-size: 40px;
    padding-top: 10px;
    /* text-align: left; */
}
h2 {
    font-family: 'Microsoft Yahei';
    font-size: 20px;
    /* text-align: left; */
}